{% extends 'base.html' %}
{% block title %}
    Author Add -- {{ block.super }}
{% endblock %}

{% block main %}
    <h1>Author Add</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>

            <tr>
                <td><b>{{ form.phone.label }}:</b></td>
                <td>
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </td>
            </tr>

            {% if request.user.is_superuser %}
                <tr>
                    <td><b>{{ form.user.label }}:</b></td>
                    <td>
                        {{ form.user.errors }}
                        {{ form.user }}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td></td>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
{% endblock %}