{% extends 'blog/base.html' %}
{% block title %}
    Post List -- {{ block.super }}
{% endblock %}
{% block main %}
    <h3 class="navbar-brand">Post</h3>

    {% if posts %}
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Pub Date</th>
                <th>Author</th>
                {% if request.user.is_authenticated %}
                    <th>Action</th>
                {% endif %}
            </tr>
            {% for post in posts %}
                {% include 'blog/post_info.html' %}
            {% endfor %}
        </table>
    {% else %}
        No Posts
    {% endif %}


{% endblock %}
